
<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>




<!DOCTYPE html>
<html>

  <article class="post-content">
    <p>I was working on acceptance test for paypal login recently. It was hard on the beginning, because I found that the login form was put inside an iframe. Using plain capybara finder when locating the input text for email and password was painful. That wasn’t working. I should use capybara method <code>within_frame</code> to make it works.<!--more--></p>

<div class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="n">within_frame</span> <span class="n">find</span><span class="p">(</span><span class="s2">&quot;iframe&quot;</span><span class="p">)</span> <span class="k">do</span>
  <span class="n">wait_until</span><span class="p">(</span><span class="mi">60</span><span class="p">)</span> <span class="p">{</span> <span class="n">page</span><span class="o">.</span><span class="n">has_css?</span> <span class="s2">&quot;#email&quot;</span> <span class="p">}</span>
  <span class="n">fill_in</span> <span class="s2">&quot;email&quot;</span><span class="p">,</span> <span class="ss">with</span><span class="p">:</span> <span class="s2">&quot;sample@mail.com&quot;</span>
  <span class="n">fill_in</span> <span class="s2">&quot;password&quot;</span><span class="p">,</span> <span class="ss">with</span><span class="p">:</span> <span class="s2">&quot;passwordsample&quot;</span>
  <span class="n">click_button</span> <span class="s2">&quot;Log In&quot;</span>
<span class="k">end</span></code></pre></div>

<p>You see that I use <code>wait_until</code> above. I use that to verify that the email input is loaded on the page or the input cannot be filled in.</p>

<p>I will share more from what I have learned from web development. See you next time.</p>

  </article>
  <hr>
  <div id="disqus_thread"></div>

<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tsara27.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</html>


<!DOCTYPE html>
<html>

<head>
	<title>THE GREAT WIYONO!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

	</script>
</head>

<style class="text/css">
	header,
	section,
	footer,
	aside,
	nav,
	article,
	figure,
	figcaption {
		display: block;
	}

	body {
		color: #666666;
		background-color: #f9f8f6;
		background-image: url("http://www.nyekrip.com/wp-content/uploads/2015/custom/images/dark-wood.jpg");
		background-position: center;
		font-family: Georgia, Times, serif;
		line-height: 1.4em;
		margin: 0px;
	}

	.wrapper {
		width: 940px;
		margin: 20px auto 20px auto;
		border: 2px solid #000000;
		background-color: #ffffff;
	}

	header {
		height: 160px;
		background-image: url(http://www.chinadaily.com.cn/cityguide/attachement/jpg/site1/20090831/00221917eae80c05b29137.jpg);
	}

	h1 {
		text-indent: -9999px;
		width: 940px;
		height: 130px;
		margin: 0px;
	}

	nav,
	footer {
		clear: both;
		color: #ffffff;
		background-color: #aeaca8;
		height: 30px;
	}

	nav ul {
		margin: 0px;
		padding: 5px 0px 5px 30px;
	}

	nav li {
		display: inline;
		margin-right: 40px;
	}

	nav li a {
		color: #ffffff;
	}

	nav li a:hover,
	nav li a.current {
		color: #000000;
	}

	section.courses {
		float: left;
		width: 659px;
		border-right: 1px solid #eeeeee;
	}

	article {
		clear: both;
		overflow: auto;
		width: 100%;
	}

	hgroup {
		margin-top: 40px;
	}

	figure {
		float: left;
		width: 290px;
		height: 220px;
		padding: 5px;
		margin: 20px;
		border: 1px solid #eeeeee;
	}

	figcaption {
		font-size: 90%;
		text-align: left;
	}

	aside {
		width: 230px;
		float: left;
		padding: 0px 0px 0px 20px;
	}

	aside section a {
		display: block;
		padding: 10px;
		border-bottom: 1px solid #eeeeee;
	}

	aside section a:hover {
		color: #985d6a;
		background-color: #efefef;
	}

	a {
		color: #de6581;
		text-decoration: none;
	}

	h1,
	h2,
	h3 {
		font-weight: normal;
	}

	h2 {
		margin: 10px 0px 5px 0px;
		padding: 0px;
	}

	h3 {
		margin: 0px 0px 10px 0px;
		color: #de6581;
	}

	aside h2 {
		padding: 30px 0px 10px 0px;
		color: #de6581;
	}

	footer {
		font-size: 80%;
		padding: 7px 0px 0px 20px;
	}
</style>
</head>

<body>
	<div class="wrapper">
		<header>
			<h1>Warung The Great Wiyono</h1>
			<nav>
				<ul>
					<li><a> HOME</a></li>
					<li><a> LIST OF CUISINE</a></li>
					<li><a> CATERING</a></li>
					<li><a> ABOUT</a></li>
					<li><a> CONTACT</a></li>
					<li><a href="Register.html" target="_blank" title="Create A New Account">REGISTER</a></li>
				</ul>
			</nav>
		</header>

		<section class="courses">
			<article>
				<figure>
					<img src="Pictures/Soto.jpeg" width="290" height="200px" alt="SOTO"/>
      <figcaption>soto ayam</figcaption>
    </figure>
    <hgroup>
      <h2>SOTO AYAM</h2>
    </hgroup>
    <p><i>Soto Ayam</i> adalah makanan khas dari <b>THE GREAT WIYONO</b> yang berupa sejenis sup dengan ayam & kuah yang berwarna kekuningan<sup>*bukan T**</sup>.</p>
  </article>
  <article>
    <figure>
      <img src="Pictures/Pecel.jpeg" width="290px" height="200px" alt="Soto" />
      <figcaption>makanan pecel</figcaption>
    </figure>
    <hgroup>
      <h2>PECEL</h2>
      <h3>Makanan dengan Bumbu Kacang</h3>
    </hgroup>
    <p><i>Pecel</i> adalah makanan yang menggunakan <b>Bumbu Sambal Kacang</b> sebagai bahan utamanya yang dicampur dengan aneka jenis sayuran.</p>
  </article>
  <article>
    <figure>
      <img src="Pictures/Sate.jpg" width="290px" height="200px" alt="Sate Ayam"/>
      <figcaption>Sate Ayam</figcaption>
    </figure>
    <hgroup>
      <h2>SATE</h2>
      <h3>Daging yg Kebakar :v</h3>
    </hgroup>
    <p><i>Sate</i> adalah Makanan yg berupa Daging yg Kebakar & diberi Bumbu-Bumbu Greget dari <b>Salt Bae</b>. Sate <b>Sangat Banyak disukai Masyarakat</b> karna Asapnya aja Udah bikin kenyang <sup>*anak Kos</sup></p>
  </article>
</section>
<aside>
  <section class="popular-recipes">
    <h2>POPULAR CUISINE</h2>
    <a href="Pictures/Sop.jpeg"><b>Sayur Sop</b></a>
    <a href="Pictures/Sayur.jpg"><b>Sayur Asem</b></a>
    <a href="Pictures/Sate1.jpg"><b>Sate Kambing</b></a>
    <a href="Pictures/Steak.jpg"><b>Chicken Steak</b></a>
  </section>
  <section class="contact-details">
    <h2>Contact Us!!!</h2>
    <p>Waroeng <b><i>The Great Wiyono</i></b><br />
      <hr>
      Whatssapp : 082134345658
      Facebook  : Wiyono The Great
      Instagram : The_Great_Of_Wiyono
    </section>
  </aside>
  <footer>
    &copy; 2019_Ganti_Tahun
  </footer>
  </div>
</body>
</html>
